<h1>DIVINE ILLUMINATION</h1>
<img src ="https://s3-eu-west-1.amazonaws.com/choral-app/pics/sound.gif" id="waves">
<img src="https://s3-eu-west-1.amazonaws.com/choral-app/angel.jpg" id="angel">
<div class="box left">
	<div class="element" id="one">
		<p><i>Spiritus</i></p>
	</div>
	<div class="element" id="two">
		<p><i>Santus</i></p>
	</div>
	<div class="element" id="three">
		<p><i>Lux</i></p>
	</div>
	<div class="element" id="four">
		<p><i>Deus</i></p>
	</div>
</div> 

<div class="box right">
	<div class="element" id="five">
		<p><i>Cantum</i></p>
	</div>
	<div class="element" id="six">
		<p><i>Tenebrosi</i></p>
	</div>
	<div class="element" id="seven">
		<p><i>Levitate</i></p>
	</div>
	<div class="element" id="eight">
		<p><i>Templum</i></p>
	</div>
</div> 
<p class="instructions">*click on various bubbles for divine chants or press on keys 1-8</p>